.MetricsList {
  order: 1;
  width: 25%;
  font-family: Verdana;
  font-size: 12px;
  color: #545454;
  font-weight: normal;
  margin-left: 18px;
}

.Total {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: #545454;
  /*border-bottom: 1px solid #eaeaea;*/
  border-bottom: 2px solid #6b6b6b;
}

.Total--value {
  font-weight: bold;
}
