.Content {
  height: calc(100% - 50px);
  overflow: auto;
  display: flex;
}

.content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-line-horizontal {
  width: 80%;
  height: 1px;
  border: 1px solid #e8e8e8;
  margin: 0 120px;
}
