html, body {
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

#root {
  height: 100vh;
}

.Main {
  background-color: #f9f8f8;
  height: 100vh;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}
