.MetricsWrapper {
  min-height: calc(100vh - 100px);
}

.Metrics {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: row;
}

.Metrics--content-right {
  order: 2;
  width: 75vw;
  display: flex;
  flex-direction: column;
}
